*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
.env
config/secrets.yml
/.bundle
/vendor/bundle
.rvmrc
config/database.yml